.card-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  -moz-osx-font-smoothing: greyscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  min-width: 200px;
  /* box-sizing: border-box; */
}

.card-container:hover {
  transform: scale(1.05);
}
